article {
  &.post {
    .header {
      h1 {
        @apply text-4xl font-bold leading-tight;
      }
    }
    .content {
      h1 {
        @apply hidden;
      }

      h2 {
        @apply mt-6 mb-3 text-neutral-2 text-3xl font-bold leading-tight;
      }

      h3 {
        @apply my-6 text-neutral-2 text-2xl leading-tight;
      }

      h4 {
        @apply text-neutral-2 text-xl;
      }

      h5 {
        @apply text-neutral-2 text-lg;
      }

      h6 {
        @apply text-neutral-2 text-base;
      }

      ul {
        @apply list-disc list-inside space-y-1;
      }

      em {
        @apply block pb-4;
      }

      p:not(.number) {
        @apply mb-2 text-neutral-2 leading-8;
      }

      a {
        @apply text-accent-3 underline italic font-semibold relative;

        &::after {
          content: "";
          background-image: url('images/svg/icon-hyperlink.svg');
          @apply w-3 h-3 ml-1 inline-block bg-no-repeat bg-center bg-contain align-text-top;
        }
      }
    }
  }
}

.related {
  .overflow-related {
    &::before {
      content: "";
      background: rgb(255,255,255);
      background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 60%);
      background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 60%);
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 60%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
      @apply inset-0 w-full h-full absolute;
    }
  }
}
